//colors
$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;


$color-gray-light:rgb(88, 85, 85);
$color-gray-light-1: #f7f7f7;

$color-gray: #777;
$color-gray-dark:#999;
$color-white: #fff;
$color-gray-darken:#333;

$color-black: #000;



$border-radius:3px;

//font-size
$defult-font-size: 1.6rem;

//grid
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
$max-width: 114rem;
