.header {
  background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-dark, 0.8)),
    url(../img/hero-small.jpg);
  height: 95vh;
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  box-sizing: border-box;
  position: relative;
  @media only screen and(min-resolution:192dpi)and (min-width:600px),(min-width:2000px){
    background-image:  linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg);
  }

 
 @include respond(tabl-land){
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 78vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 78vh, 0 100%);

 }
 @include respond(tabl-port){
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

 }
 @include respond(phone){
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 83vh, 0 100%);

 }
  &__logo-box {
    position: absolute;
    width: 7rem;
    top: 5rem;
    left: 5rem;
    @include respond(tabl-port){
      top: 4rem;
      left: 4rem;
    }
  }

  &__box-text {
    text-align: center;
    @include Inthemiddleofthings;
  }
}
