.header {
  background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg);
  height: 95vh;
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  box-sizing: border-box;
  position: relative;
  &__logo-box {
    position: absolute;
    width: 5rem;
    top: 2rem;
    left: 2rem;
  }

  &__box-text {
    text-align: center;
    @include Inthemiddleofthings;
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;
  &--main {
    display: block;
    font-size: 3.5rem;
    letter-spacing: 0.7rem;
    font-weight: 500;
    text-align: center;
    line-height: 4rem;
    animation-name: leftmoveright;
    animation-duration: 3s;
    margin-bottom: 3rem;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 200;
    line-height: 2.7rem;
    text-align: center;
    letter-spacing: 0.7rem;
    animation-name: rightmoveleft;
    animation-duration: 3s;
  }
}