body {
        font-family:"gandom";
    color: $color-gray;
    font-size: 16px;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 3rem;
    &--main {
        display: block;
        font-size: 3.5rem;
        letter-spacing: 0.7rem;
        font-weight: 500;
        text-align: center;
        line-height: 4rem;
        animation-name: leftmoveright;
        animation-duration: 3s;
        margin-bottom: 3rem;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 200;
        line-height: 2.7rem;
        text-align: center;
        letter-spacing: 0.7rem;
        animation-name: rightmoveleft;
        animation-duration: 3s;
    }
}
.heading-secondary {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display:inline-block;
    transition:all .2s;

    &:hover{
        transform:skewY(-2deg) skewX(15deg)   scale(1.1);
        text-shadow:0.5rem 1rem 2rem rgba($color-black ,.2);
    }
}
    .heading-thrid{
        color:$color-black ;
        font-size: $defult-font-size;
        font-weight:700;
        text-transform:uppercase;

    }
 .paragraph{
     font-size:$defult-font-size;
     &:not(:last-child) {
         margin-bottom:2rem;
     }
 }

